body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  background: #f2f2f2;
}

.header {
  display: flex;
  margin: 0;
  height: 50px;
  background: #4a90e2;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: inset 0 0 0em, 0 0 0.5em gray;
}

.header a {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.header-left {
  margin-left: 15px;
}

.header-right {
  margin-right: 20px;
}

.header a svg {
  margin-left: 10px;
}

.container {
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.column {
  flex-direction: column;
  margin-top: 15px;
}

.post-item {
  margin: 5px;
  background: white;
  width: 50%;
  min-height: 100px;
  text-align: left;
  box-shadow: inset 0 0 0em, 0 0 0.2em #e2e2e2;
  border-radius: 5px;
}

.post-header {
  display: flex;
  padding: 20px 20px;
  width: inherit;
}

.author {
  font-weight: bold;
  font-size: 16px;
}

.avatar {
  margin: 0 0.5em;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatar-comment {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 0.5em;
}

.author-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.date {
  color: gray;
  font-size: 12px;
}

.post-content {
  margin: 10px 15px;
  font-size: 16px;
}

.hr-comment {
  border: 0.5px solid #cccccc;
  margin: 3px 15px;
}

.comment-content {
  background: #eeeeee;
  padding: 0.5em;
  border-radius: 5%;
}

.comment-text {
  font-weight: normal;
}
